$text-color: #292929;
$btn-color: #9C9A9A;
$white-color: #FFFFFF;
$font-stack: 'Montserrat', sans-serif;

header {
    overflow: hidden;
    background: url(../images/header.png);
    background-size: cover;
}

.wrapper_header {    
    margin: 0 auto;
    max-width: 1110px;
    max-height: 315px;
    padding-bottom: 100px;   
    padding-top: 100px;
    overflow: hidden;
}

.logo {
    text-align: center;
    padding: 11em 0em 4em 0em;
    h1 {
        margin: 0;
        font-size: 52px;
        font-weight: 500;
        opacity: 80%;
        letter-spacing: 0.1em;
    }
}