$text-color: #292929;
$btn-color: #9C9A9A;
$white-color: #FFFFFF;
$font-stack: 'Montserrat', sans-serif;

.welcome_title {
    margin: 0 auto;
    max-width: 1110px;
    padding: 6em 6em;
    text-align: center;
}

.wrapper_bio {
    margin: 0 auto;
    max-width: 1110px;
    overflow: hidden;
    span {
        border-top-color: $text-color;
    }
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: hidden;
    border-top: 1px solid $text-color;
    text-align: center;
    .tbox1,
    .tbox2,
    .tbox3,
    .tbox4,
    .tbox5 {    
        width: 320px;
        padding: 4em 2em;
        }
        h2 {
        margin: 1em 0em;
        font-size: 1.5em;
        font-weight: 700;
        }
        .title {
        text-align: center;
        }
        p {
        margin: 0;
        font-size: 20px;
        text-align: justify;
        font-weight: 500;
        }
}

.button {
    display: inline-block;
    margin-top: 2em;
    padding: 0.8em 2em;
    background: $btn-color;
    line-height: 1.8em;
    letter-spacing: 0.04em;
    text-decoration: none;
    font-size: 16px;
    color: $white-color;
    &:hover {
        background-color: #272925;
    }
}

.wrapper_poems {
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
}

.flexbox_poems {
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
    h2 {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.04em;
    }
    p {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.04em;
        width: 700px;
        a {
            text-decoration: none;
            color: $text-color;           
            &:active {
                color: yellow;
            }
        }
    }
}

.flexbox_poems {
    display: flex;
    flex-direction: column;
}

.poems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}