@import url('./header.css');
@import url('./nav.css');
@import url('./welcome.css');
@import url('./main_flex_container.css');
@import url('./footer.css');
@import url('./normalize.css');
@import url('./variables.css');
@import url(_var.scss);
body {
    display: block;
    margin: 0;
    padding: 0;
    font-family: $font-stack;
    font-size: 20px;
    color: $text-color;
    background-color: $white-color;
}

h1, h2, h3, p {
    color: $text-color;
}