$text-color: #292929;
$btn-color: #9C9A9A;
$btn-color-hover: #272925;
$white-color: #FFFFFF;
$font-stack: 'Montserrat', sans-serif;

.welcome_title {
    margin: 0 auto;
    max-width: 1110px;
    padding: 6em 6em;
    text-align: center;
    h1 {
        font-size: 50px;
        font-weight: 500;
        opacity: 80%;
        letter-spacing: 0.1em;
    }
    p {
        font-size: 16px;
        letter-spacing: 0.1em;
    }
}

.wrapper_bio {
    margin: 0 auto;
    max-width: 1110px;
    overflow: hidden;
    padding: 100px;
}

.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-top: 1px solid $text-color;
    border-bottom: 1px solid $text-color;
    text-align: center;
    .tbox1,
    .tbox2,
    .tbox3,
    .tbox4,
    .tbox5 {    
        width: 320px;
        padding: 4em 2em;
        }
        h2 {
        margin: 1em 0em;
        font-size: 1.5em;
        font-weight: 700;
        }
        .title {
        text-align: center;
        }
        p {
        margin: 0;
        font-size: 20px;
        text-align: justify;
        font-weight: 500;
        }
}

.button {
    display: inline-block;
    margin-top: 2em;
    padding: 0.8em 2em;
    font-size: 16px;    
    line-height: 1.8em;
    letter-spacing: 0.04em;
    text-decoration: none;
    background: $btn-color;    
    color: $white-color;
    border: none;    
    border-radius: 3px;
    -webkit-transition: 1s;
    transition: 1s;
    outline: none;
    cursor: pointer;
    &:hover {
        background-color: $btn-color-hover;
        -webkit-transition: 1s;
        transition: 1s;
    }
}

.modal {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s;
    transition: .3s;
    top: -1000px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: rgba(10, 10, 10, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 60px 15px;
}
  
.modal_active {
    position: fixed;
    top: 0;
    visibility: visible;
    opacity: 1;
    -webkit-transition: .5s;
    transition: .5s;
}

.modal__content {
    width: 100%;
    max-width: 500px;
    padding: 50px;
    background: $white-color;
    border-radius: 3px;
    position: relative;
    h1 {
        font-size: 28px;
        text-transform: uppercase;
        margin: 0 0 15px;
    }
    p {
        font-size: 18px;
    }
}

.modal__close-button {
    background: rgba(10, 10, 10, 0.9);
    height: 30px;
    width: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    cursor: pointer;
    -webkit-transition: .3s;
    transition: .3s;
    outline: none;
    &:hover {
        -webkit-transition: .3s;
        transition: .3s;
    }
}

.wrapper_poems {
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
}

.flexbox_poems {
    margin: 0 auto;
    max-width: 1400px;
    padding-bottom: 100px;
    overflow: hidden;
    h2 {
        font-size: 24px;
        font-weight: 400;
        letter-spacing: 0.04em;
    }
    p {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 0.04em;
        width: 700px;
        a {
            text-decoration: none;
            color: $text-color;           
            &:active {
                color: yellow;
            }
        }
    }
}

.flexbox_poems {
    display: flex;
    flex-direction: column;
}

.poems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}