@import url(_var.scss);
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 365px;
    height: 30px;
}
.nav {
    margin: 0;
    display: flex;
    list-style-type: none;
    color: $text-color;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    li{
        display: flex;
        text-decoration: none;
        color: $text-color;
        padding: 1em 1.5em;
        outline: 0;
        a {
            display: flex;
            padding: 1em 1.5em;
            text-decoration: none;
            color: $text-color;
            outline: 0;
            height: 30px;
        }
    }
}


.nav li:hover a, .nav li.active a {

    height: 60px;
    background: #FFF;
    color: #292929;
} 

