<header>
    <div class="wrapper_header">
        <div class="navigation">
            <ul class="nav">
                <li class="active"><a href="#" title="">homepage</a></li>
                <li><a href="#bio" title="">biography</a></li>
                <li><a href="#work" title="">work</a></li>
                <li><a href="#poems" title="">poems</a></li>
                <li><a href="#footer" title="">contact us</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="welcome_title">
    <h1>Vladimir Mayakovsky</h1>
    <p>"I want to be understood by my country, but if I fail to be understood - what then?,<br>I shall pass through my native land to one side, like a shower of slanting rain".</p>
</div>