@import url('./header.css');
@import url('./nav.css');
@import url('./main_grid.css');
@import url('./footer.css');
@import url('./normalize.css');

/* wrapper */
.wrapper {
    overflow: hidden;
    background: #FFF;
}

.container {
    margin: 0px auto;
    width: 1200px;
}