/* header */
#header-wrapper {
    overflow: hidden;
    background: url(../images/header.png);
    background-size: cover;
}

.header {
    text-align: center;
}

/* logo */
#logo {
    padding: 8em 0em 4em 0em;
}

#logo h1 {
    display: inline-block;
    margin-bottom: 0.20em;
    padding: 0.20em 0.9em;
    font-size: 52px;
    font-weight: 500;
    opacity: 80%;
}

/* nav */
.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.nav {
    display: flex;
    list-style-type: none;
    color: #292929;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}

.nav li {
    padding-left: 20px;
    padding-right: 20px;
}

.nav li a, nav li {
    display: flex;
    padding: 1em 1.5em;
    text-decoration: none;
    color: #292929;
    outline: 0;
}

.nav li:hover a, .nav li.active a {

    height: 60px;
    background: #FFF;
    color: #292929;
} 

/* wrapper */
.wrapper {
    overflow: hidden;
    
    background: #FFF;
}

/* message */
#message {
    overflow: hidden;
    width: 1000px;
    padding: 6em 100px 0em 100px;
    text-align: center;
}

/* biography */
.column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    margin-top: 5em;
    padding-top: 1em;
    border-top: 1px solid #292929;
    text-align: center;
}

.column h2 {
    margin: 1em 0em;
    font-size: 1.5em;
    font-weight: 700;
}
    
.column .tbox1,
.column .tbox2,
.column .tbox3,
.column .tbox4,
.column .tbox5 {    
    width: 320px;
    padding: 80px 40px 80px 40px;
}

.column .tbox1 {
    width: 320px;
    padding: 80px 40px 80px 0px;                /*first block*/ 
}

.column .title {
    text-align: center;
}

.column .title h2 {
    font-size: 24px;
    font-weight: 500;
}

.column p {
    font-size: 20px;
    text-align: justify;
    font-weight: 500;
}
.column .arrow-down {
    border-top-color: #292929;
}

.column .arrow-up {
    border-bottom-color: #292929;
}
/* button */
.button {
    display: inline-block;
    margin-top: 2em;
    padding: 0.8em 2em;
    background: #9C9A9A;
    line-height: 1.8em;
    letter-spacing: 0.04em;
    text-decoration: none;
    font-size: 16px;
    color: #FFF;
}

.button:before {
    display: inline-block;
    background: #8DCB89;
    margin-right: 1em;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    color: #272925;
}

